.navbar {
  border-radius: 0;
  border: none;

  position: fixed;
  width: 100%;
  z-index: 999;
}
.navbar-default {
  margin-bottom: 0;
  background-color: #81D400;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a, .navbar-brand {
  color: #ffffff;
}

.navbar .input-group {
  display: block;
}

.navbar .input-group .search-input {
  width: 90%;
}

.user-picture {
  width: 50px;
}
.navbar-nav>li>a {
  padding: 15px 5px;
}
.navbar-nav>li>a.no-padding {
  padding: 0;
}
