.page-edition {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  padding: 0 5px;
}
.dropdown-menu {
  right: 5px;
  left: unset;
}
.liked-page-image {
  padding: 0;
}
.liked-page-image img {
  height: 100px;
  width: 100px;
}

.liked-page-name {
  height: 100px;
  padding-top: 40px;
}
