
.friends-list.right-sidebar-mini {
  /*width: 300px;*/
  z-index: 1100;
  transform: translateX(100%);
}

.friends-list.right-sidebar {
  transform: translateX(0%);
}


.profile-img-list {
  height: 100px;
  width: 100px;
}
