.sign-in-page {
  /*height: auto;*/
  /*position: fixed;*/
  /*overflow-y: hidden;*/
}
.sign-in-page .container {
  position: relative;
}

.sign-in-detail {
  height: auto;
}

@media (max-width: 992px) {
  .sign-in-page {
    /*height: auto;*/
    overflow-y: unset;
  }
}
