.modal-event-invitations {
  background-color: rgba(242, 243, 245, .7);
  z-index: 10000;
}

.modal-event-invitations .btn-close {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/*@media (min-width:576px) {*/
/*  .modal-dialog {*/
/*    max-width: 700px;*/
/*  }*/
/*}*/
