<div class="friend-wrapper">
  <div class="friend">
    <div class="media align-items-center mb-4">
      <div class="iq-profile-avatar {{ friend?.isOnline ? 'status-online' : 'status-away' }}" >
        <img class="rounded-circle avatar-30" src="{{ friend?.picture }}" alt="">
      </div>
      <div class="media-body ml-3">
        <h6 class="mb-0"><a routerLink="/messenger/{{ friend?.username }}">{{ friend?.fullName }}</a></h6>
        <p class="mb-0 d-none">Admin</p>
      </div>
    </div>
  </div>
</div>
