<div class="modal modal-event-invitations fade d-block show" id="eventInvitationsModal" tabindex="-1" role="dialog"
     aria-labelledby="eventInvitationsModalTitle" aria-hidden="true" #modalWrapper *ngIf="visible">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" #modal>
    <div class="modal-content">
      <div class="modal-header justify-content-evenly">
        <h5 class="modal-title" id="eventInvitationsModalTitle">Avez-vous participé à l'évènement "{{ event.name }}"</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body event-feedback overflow-hidden">
        <div class="row w-100">
          <div class="col-12">
            <div class="event-feedback-wrapper">
              <div class="btn-actions row">
                <div class="col-md-6 col-12 pr-2">
                  <button class="btn bgclr-grintaaa text-white w-100 uppercase" (click)="onSend(1)">oui</button>
                </div>
                <div class="col-md-6 col-12 pl-2">
                  <button class="btn btn-light w-100 uppercase" (click)="onSend(-1)">non</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="onCloseModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
