.register {
  background: radial-gradient(ellipse at center, #85D222 1%,#365D04 100%);
  margin: -100px 0;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: right;
}
.logo img {
  width: 140px;
}

form {
  border-left: 1px solid #fff;
}

label {
  color: #ffffff;
}

.btn-send-wrapper {
  text-align: center;
}
.btn-send-wrapper .btn {
  width: 50%;
}

.sign-in {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #eee!important;
  text-decoration: none;
}
