<div class="wrapper">

  <!--  <app-user-options></app-user-options>-->

  <app-header></app-header>

  <div id="content-page" class="content-page">
    <div class="container">
      <div class="row py-5">
        <div class="col-12 col-lg-8 offset-lg-2">
          <div class="row">
            <div class="col-12">
              <div class="text-center mb-3">
                <div class="h3 d-inline-block pb-3 border-bottom bdclr-grintaaa">
                  Veuillez noter les participants
                </div>
              </div>
            </div>
            <div class="col-12">
              <app-event-review></app-event-review>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
