
.sign-in-page {
  /*height: auto;*/
  /*position: fixed;*/
  overflow-y: hidden;
}

.sign-in-detail {
  height: auto;
}

.social-auth .iq-social-media {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  float: none;
}
