<div class="iq-card">
  <div class="iq-card-header d-flex justify-content-between">
    <div class="iq-header-title">
      <h4 class="card-title font-size-20">Events</h4>
    </div>
    <div class="iq-card-header-toolbar align-items-center d-none">
      <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" role="button">
                                 <i class="ri-more-fill"></i>
                                 </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
          <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
          <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
          <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
          <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
          <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
        </div>
      </div>
    </div>
  </div>
  <div class="iq-card-body">
    <ul class="media-story m-0 p-0">
      <li class="d-flex mb-4 align-items-center" *ngFor="let event of events">
        <a class="d-flex align-items-center" routerLink="/events/{{ event.uuid }}">
          <img src="{{ event.image }}" alt="story-img" class="rounded-circle img-fluid">
          <div class="stories-data ml-3">
            <a routerLink="/events/{{ event.uuid }}">
              <h5>{{ event.name }}</h5>
              <p class="mb-0">{{ event.date | date : 'mediumDate' }}</p>
            </a>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
