.right-sidebar-mini {
  width: 300px;
}

.right-sidebar {
  transform: translateX(0px);
}
.right-sidebar-panel {
  height: 90vh;
  overflow-x: hidden;
}

.search-friend {
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index: 999;
}
