
<div class="container-fluid friends" #chatBox>
  <i class="fas fa-comments chat-icon hidden-md hidden-lg" (click)="showChatBox()"></i>
  <div class="row chat-header">
    <div class="col-md-12 col-xs-12">
      <h3>Chat</h3>
    </div>
  </div>
  <div class="row friends-list">
    <div class="col-md-12 col-xs-12">
      <div *ngIf="noFriends">
        <p>You need to add friends to be shown in the list</p>
      </div>
      <div *ngIf="!noFriends">
        <app-friend *ngFor="let friend of friends; let i = index"
        [friend]="friend"></app-friend>
      </div>
    </div>
  </div>
  <div class="row search-friend">
    <div class="col-md-12 col-xs-12">
      <input type="text" class="form-control bg-gray no-border-shadow search" placeholder="Rechercher un ami" (input)="onSearch($event.target.value)">
    </div>
  </div>
</div>
