<!-- Right Sidebar Panel Start-->
<div class="right-sidebar-mini right-sidebar friends-list">
  <div class="right-sidebar-panel p-0">
    <div class="iq-card shadow-none">
      <div class="iq-card-body p-0">
        <div class="media-height p-3 pb-5">
          <div *ngIf="noFriends">
            <p>You need to add friends to be shown in the list</p>
          </div>
          <div *ngIf="!noFriends">
            <app-friend *ngFor="let friend of friends; let i = index"
                        [friend]="friend"></app-friend>
          </div>
        </div>
        <div class="right-sidebar-toggle bg-primary mt-3">
          <i class="las la-user-friends"></i>
        </div>
      </div>
      <div class="search-friend iq-search-bar p-3">
        <div class="searchbox">
          <input type="text" class="form-control bg-gray no-border-shadow search search-input"
                 placeholder="Rechercher..." (input)="onSearch($event.target.value)"/>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Right Sidebar Panel End-->
