<div class="tab-pane fade active show" id="timeline" role="tabpanel">
  <div class="iq-card-body p-0">
    <div class="row">
      <div class="col-lg-5">
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Photos</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <p class="m-0"><a routerLink="/{{ profile?.username }}/photos">Voir Tous </a></p>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="profile-img-gallary d-flex flex-wrap justify-content-evenly p-0 m-0">
              <li class="pl-2 pr-0 pb-3" *ngFor="let photo of profile.photos">
                <a href="javascript:void();">
                  <img src="{{ photo.media_url }}" alt="gallary-image" class="img-fluid gallery-img"/>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Friends</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <p class="m-0"><a routerLink="/{{ profile?.username }}/friends">Voir Tous </a></p>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0">
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3" *ngFor="let friend of profile.friends">
                <a href="javascript:void();">
                  <img src="{{ friend.picture }}" alt="gallary-image" class="img-fluid gallery-img"/></a>
                <h6 class="mt-2">{{ friend.fullName }}</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-7 pl-0">
        <app-user-posts></app-user-posts>
      </div>
    </div>
  </div>
</div>
