<div class="tab-pane fade active show" id="timeline" role="tabpanel">
  <div class="iq-card-body p-0">
    <div class="row">
      <div class="col-lg-4">
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Photos</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <p class="m-0"><a href="javacsript:void();">Add Photo </a></p>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0">
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g1.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g2.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g3.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g4.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g5.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g6.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-0"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g7.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-0"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g8.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-0"><a href="javascript:void();"><img
                src="/assets/plugins/socialV/images/page-img/g9.jpg" alt="gallary-image"
                class="img-fluid"/></a></li>
            </ul>
          </div>
        </div>
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Friends</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <p class="m-0"><a href="javacsript:void();">Add New </a></p>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0">
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3">
                <a href="javascript:void();">
                  <img src="/assets/plugins/socialV/images/user/05.jpg" alt="gallary-image"
                       class="img-fluid"/></a>
                <h6 class="mt-2">Anna Rexia</h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/06.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Tara Zona</h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/07.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Polly Tech</h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/08.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Bill Emia</h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/09.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Moe Fugga</h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-3">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/10.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Hal Appeno </h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-0">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/07.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Zack Lee</h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-0">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/06.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Terry Aki</h6>
              </li>
              <li class="col-md-4 col-6 pl-2 pr-0 pb-0">
                <a href="javascript:void();"><img src="/assets/plugins/socialV/images/user/05.jpg"
                                                  alt="gallary-image" class="img-fluid"/></a>
                <h6 class="mt-2">Greta Life</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <app-user-posts></app-user-posts>
      </div>
    </div>
  </div>
</div>
