<div class="wrapper">

<!--  <app-user-options></app-user-options>-->

  <app-header></app-header>

  <app-friends></app-friends>

  <div id="content-page" class="content-page">
    <app-feedback></app-feedback>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-1">
          <app-posts></app-posts>
        </div>
        <div class="col-lg-4">
          <app-user-updates></app-user-updates>
        </div>
      </div>
    </div>
  </div>

  <app-event-action></app-event-action>
</div>
