<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12 p-0">
          <app-new-post [user]="authUser"></app-new-post>
        </div>
      </div>
      <div class="row posts">
        <div class="col-12 p-0">
          <app-post *ngFor="let post of user?.posts; let i = index"
                    [post]="post"></app-post>
        </div>
      </div>
      <div class=""
           infiniteScroll
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="50"
           [scrollWindow]="true"
           (scrolled)="onLoadMorePosts()"
      >
      </div>
      <app-spinner *ngIf="loadMore"></app-spinner>
      <div class="row load-more align-center my-5" *ngIf="!loadMore && !gotAllPosts">
        <div class="col-md-12">
          <a class="btn btn-load-more capitalize"
             (click)="onLoadMorePosts()">load more</a>
        </div>
      </div>
      <div class="row my-2" *ngIf="gotAllPosts">
        <div class="col-12 text-center">
          <p>All posts are loaded</p>
        </div>
      </div>
    </div>
  </div>
</div>
