<div class="comment-wrapper">
  <div class="comment">
    <div class="row">
      <div class="col-md-2 col-xs-2">
        <img src="{{ comment.user.picture }}" alt="" class="user-picture round w-h-50">
      </div>
      <div class="col-md-10 col-xs-10">
        <div class="comment">
          <span class="user-name">{{ comment.user.name }}</span>
          <i class="fas fa-caret-right mg-sides"></i>
          <span>{{ comment.content }}</span>
        </div>
        <div class="comment-interaction">
          <button class="btn btn-comment">J'aime</button>
          <i class="fas fa-hashtag mg-sides"></i>
          <span>{{ comment.created_at | date : 'mediumDate'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
