<div class="comment-wrapper">
  <div class="comment-container">
    <div class="row">
      <div class="comment-user-picture pd-sides-5 pull-left">
        <img src="{{ comment?.user?.picture }}" alt="" class="user-picture round w-h-30">
      </div>
      <div class="comment-user-content pd-sides-5 pull-left">
        <div class="comment bg-gray">
          <div class="comment-content" *ngIf="!editMode">
            <span class="user-name"><a routerLink="/{{ comment?.user?.username }}">{{ comment?.user?.fullName }}</a></span>
            <i class="fas fa-caret-right mg-sides"></i>
            <span>{{ comment?.content }}</span>
            <div class="comment-interaction">
              <span>{{ comment?.created_at | date : 'mediumDate'}}</span>
              <span class="mg-sides">·</span>
              <button class="btn btn-action-comment btn-like-comment capitalize" (click)='onLikeComment()' [ngClass]="{'liked': commentLiked}">j'aime</button>
              <span class="mg-sides">.</span>
              <button class="btn btn-action-comment btn-answer-comment capitalize" (click)="onWillReply()">répondre</button>
            </div>
          </div>

          <div class="comment-edit" *ngIf="editMode">
            <form [formGroup]="editCommentForm" class="comment-text d-flex align-items-center">
<!--              <input formControlName="content" cols="60" rows="4" class="form-control new-content" />-->
<!--              <div class="pull-right">-->
<!--                <button type="submit" class="btn btn-update btn-default" (click)="onCancel()">Annuler</button>-->
<!--                <button type="submit" class="btn btn-update btn-primary" (click)="onUpdateComment()">Valider</button>-->
<!--              </div>-->
              <input formControlName="content" type="text" class="form-control rounded new-content" placeholder="Ecrire un commentaire..."/>
              <div class="comment-attagement d-flex">
<!--                <a><i class="ri-link mr-3"></i></a>-->
<!--                <a><i class="ri-user-smile-line mr-3"></i></a>-->
<!--                <a><i class="ri-camera-line mr-3"></i></a>-->
                <button class="btn btn-secondary mr-1" type="submit" (click)="onCancel()"><i class="fas fa-window-close"></i></button>
                <button class="btn btn-success btn-send-comment mr-1" type="submit" (click)="onUpdateComment()"><i class="fas fa-pen-square"></i></button>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="comment-edition dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
        <ul class="dropdown-menu pointer">
          <li *ngIf="ownComment"><a class="d-block" (click)="onEditComment()">Edit</a></li>
          <li><a class="d-block">Hide</a></li>
          <li *ngIf="ownComment"><a class="d-block" (click)="onDeleteComment()">Delete</a></li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="replies col-12">
        <div class="comment-item" *ngFor="let reply of comment?.replies">
          <app-reply class="reply" [reply]="reply" *ngIf="reply.isVisible">
          </app-reply>
        </div>
        <div class="row" *ngIf="willReply">
          <div class="col-md-12 col-xs-12">
<!--            <form [formGroup]="ReplyForm" class="relative comment-reply-form">-->
<!--              <img src="{{ user.picture }}" alt="" class="pd-sides-5 round">-->
<!--              <input formControlName="content" type="text" id="reply-{{ comment.id }}"-->
<!--              class="form-control bg-gray no-border-shadow input-comment pd-sides-5" placeholder="Ecrire un commentaire..." required>-->
<!--              <button class="btn btn-info btn-send-comment" type="submit" (click)="onCreateReply()"><i class="fas fa-paper-plane"></i></button>-->
<!--            </form>-->
            <form [formGroup]="ReplyForm" class="comment-text d-flex align-items-center mt-3">
              <img src="{{ user?.picture }}" alt="" class="avatar-35 mx-1 round">
              <input formControlName="content" type="text" class="form-control rounded" id="reply-{{ comment?.id }}"
                     placeholder="Ecrire un commentaire..." />
              <div class="comment-attagement d-flex">
                <a><i class="ri-link mr-3"></i></a>
                <a><i class="ri-user-smile-line mr-3"></i></a>
                <a><i class="ri-camera-line mr-3"></i></a>
                <button class="btn btn-success btn-send-comment mr-1" type="submit" (click)="onCreateReply()"><i class="fas fa-paper-plane"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
