<div class="tab-pane fade active show" id="personal-information" role="tabpanel">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="card-title">Personal Information</h4>
      </div>
    </div>
    <div class="iq-card-body">
      <form [formGroup]="editUserForm" (ngSubmit)="onEdit()">
        <div class="form-group row align-items-center">
          <div class="col-md-12">
            <div class="profile-img-edit">
              <img class="profile-pic" src="{{ srcImage }}" alt="profile-pic">
              <div class="p-image">
                <label for="profile-img" class="text-white pointer">
                  <i class="ri-pencil-line upload-button"></i>
                  <input id="profile-img" class="file-upload" type="file" accept="image/*"
                         (change)="onFilePictureChange($event.srcElement.files)"/>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class=" row align-items-center">
          <div class="form-group col-sm-6">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" formControlName="firstname">
          </div>
          <div class="form-group col-sm-6">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname" formControlName="lastname">
          </div>
          <div class="form-group col-sm-6">
            <label for="uname">User Name:</label>
            <input type="text" class="form-control" id="uname" formControlName="username">
          </div>
          <div class="form-group col-sm-6">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" formControlName="city">
<!--            <select formControlName="city" id="cname" class="form-control selectpicker">-->
<!--              <option value=" " disabled></option>-->
<!--              <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>-->
<!--            </select>-->
          </div>
          <div class="form-group col-sm-6">
            <label class="d-block">Gender:</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadio6" name="gender" class="custom-control-input" formControlName="gender" value="male">
              <label class="custom-control-label" for="customRadio6"> Male </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadio7" name="gender" class="custom-control-input" formControlName="gender" value="female">
              <label class="custom-control-label" for="customRadio7"> Female </label>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="dob">Date Of Birth:</label>
            <input class="form-control" id="dob" type="date" formControlName="birth_date">
          </div>
          <div class="form-group col-sm-6">
            <label for="country">Country:</label>
            <input type="text" class="form-control" id="country" formControlName="country">
<!--            <select class="form-control" id="exampleFormControlSelect3">-->
<!--              <option>Caneda</option>-->
<!--              <option>Noida</option>-->
<!--              <option selected="">USA</option>-->
<!--              <option>India</option>-->
<!--              <option>Africa</option>-->
<!--            </select>-->
          </div>
          <div class="form-group col-sm-12">
            <label>Address:</label>
            <textarea class="form-control" formControlName="address" name="address" rows="5" style="line-height: 22px;"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary bgclr-grintaaa mr-2">Submit</button>
        <button type="reset" class="btn iq-bg-danger">Cancle</button>
      </form>
    </div>
  </div>
</div>
