<div class="container-fluid">
  <div class="card-wrapper">
    <div class="card">
      <!-- <a [routerLink]="['/' + media.name]"> -->
      <div class="media" *ngIf="media.media_url">
        <video *ngIf="media.type === 'video'" class="card-vid-top card-media" src="{{ media.media_url }}" controls></video>
        <img *ngIf="media.type === 'image'" class="card-img-top card-media" src="{{ media.media_url }}" alt="Card image cap">
      </div>
      <div class="card-body hidden">
        <h5 class="card-title">{{ media.name }}</h5>
        <p class="card-text">{{ media.description }}</p>
      </div>
      <!-- </a> -->
    </div>
  </div>
</div>
