<div class="tab-pane fade active show" id="timeline" role="tabpanel">
  <div class="iq-card-body p-0">
    <div class="row">
      <div class="col-lg-5">
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Photos</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <p class="m-0"><a routerLink="/{{ profile?.username }}/photos">Voir Tous </a></p>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0" *ngIf="!emptyListPhotos">
              <li class="col-md-4 col-sm-6 col-12 pl-2 pr-0 pb-3" *ngFor="let photo of profile.photos | slice:0:9">
                <div class="photo-box">
                  <img src="{{ photo.media_url }}" alt="gallary-image" class="img-fluid gallery-img"/>
                </div>
              </li>
            </ul>
            <div class="row" *ngIf="emptyListPhotos">
              <div class="col-12">
                <p class="text-center list-empty m-0">Pas de photos à afficher</p>
              </div>
            </div>
          </div>
        </div>
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Friends</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <p class="m-0"><a routerLink="/{{ profile?.username }}/friends">Voir Tous </a></p>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="profile-img-gallary d-flex flex-wrap p-0 m-0" *ngIf="!emptyListFriends">
              <li class="col-md-4 col-sm-6 col-6 pl-2 pr-0 pb-3" *ngFor="let friend of profile.friends | slice:0:9">
                <div class="friend-box">
                  <a routerLink="/{{ friend.username }}">
                    <img src="{{ friend.picture }}" alt="gallary-image" class="img-fluid gallery-img"/>
                    <h6 class="mt-2">{{ friend.fullName }}</h6>
                  </a>
                </div>
              </li>
            </ul>
            <div class="row" *ngIf="emptyListFriends">
              <div class="col-12">
                <p class="text-center list-empty m-0">Pas de contacts à afficher</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 pl-lg-0">
        <app-user-posts></app-user-posts>
      </div>
    </div>
  </div>
</div>
