<div class="all-pages" *ngIf="!noPages">
  <div class="pages">
    <div class="header">
      <h3 class="capitalize align-center">Your Pages</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let page of profile?.pages">
        <div class="page-row clearfix">
          <div class="page-image float-left mg-sides"><img src="{{ page.image }}" alt="" class="round" style="width: 20px; height: 20px;"></div>
          <div class="page-name float-left">{{ page.name }}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="pages">
    <div class="header">
      <h3 class="capitalize align-center">Pages you manage</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let page of profile?.managed_pages">
        <div class="page-row clearfix">
          <div class="page-image float-left mg-sides"><img src="{{ page.image }}" alt="" class="round" style="width: 20px; height: 20px;"></div>
          <div class="page-name float-left">{{ page.name }}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="pages">
    <div class="header">
      <h3 class="capitalize align-center">Pages you were invited to</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let page of profile?.page_invitations">
        <div class="page-row clearfix">
          <div class="page-image float-left mg-sides"><img src="{{ page.image }}" alt="" class="round" style="width: 20px; ;"></div>
          <div class="page-name float-left">{{ page.name }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="all-pages" *ngIf="noPages">
  <div class="container-fluid">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <p class="align-center">No Pages !!!</p>
    </div>
  </div>
</div>
