<div class="_pages-wrapper" *ngIf="!noPages">
  <div class="pages pages-wrapper clearfix">
    <div class="col-md-12">
      <div class="header">
        <h3 class="capitalize">
          <i class="fas fa-scroll"></i>
          Your Pages</h3>
      </div>
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 liked-page-block" *ngFor="let page of profile?.pages">
          <app-page-item [page]="page"></app-page-item>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="pages pages-wrapper clearfix">
    <div class="col-md-12">
      <div class="header">
        <h3 class="capitalize">
          <i class="fas fa-scroll"></i>
          Pages you manage</h3>
      </div>
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 liked-page-block" *ngFor="let page of profile?.managed_pages">
          <app-page-item [page]="page"></app-page-item>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="pages pages-wrapper clearfix">
    <div class="col-md-12">
      <div class="header">
        <h3 class="capitalize">
          <i class="fas fa-scroll"></i>
          Pages you were invited to</h3>
      </div>
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 liked-page-block" *ngFor="let page of profile?.page_invitations">
          <app-page-item [page]="page"></app-page-item>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="all-pages" *ngIf="noPages">
  <div class="container-fluid">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <p class="align-center">No Pages !!!</p>
    </div>
  </div>
</div>
