ul.header-nav li a {
  border: 1px solid var(--grintaaa);
}

ul.header-nav li a i {
  position: relative;
  top: -2px;
}

.profile-img img {
  border: 5px solid #fff;
}

.profile-img .profile-img-wrapper {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.profile-header .user-detail {
  z-index: 1000;
  bottom: -20px;
}

@media (max-width:576px) {
  .profile-img img {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .profile-header .user-detail {
    margin-bottom: 0;
  }
  .profile-img img {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .profile-feed-items li a {
    margin: 0;
  }
}
