<div class="post-wrapper">
  <div class="post">
    <div class="post-header">
      <div class="container-fluid">
        <div class="row">
          <div class="post-header-img pd-sides pull-left">
              <img class="user-picture round w-h-50" src="{{ post.user.picture }}" alt="">
          </div>
          <div class="post-header-headline pd-sides pull-left">
            <div class="post-header-txt">
              <h3>
                <span class="user-name capitalize">{{ post.user.firstname }} {{ post.user.lastname }}</span>
                <span *ngIf='post.owner'> shared
                  <span *ngIf='post.user_id !== post.post_owner_id' class="clr-blue">{{ post.owner.firstname }}'s</span>
                  <span *ngIf='post.user_id === post.post_owner_id'>his</span> post
                </span>
              </h3>
            </div>
            <div class="post-date">
              <span>{{ post.created_at | date : 'mediumDate'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-content">
      <p>{{ post.content }}</p>
    </div>
    <div class="post-img">
      <img src="{{ post.image }}" alt="" style="width: 100%">
    </div>
    <div class="interactions">
      <button type="submit" class="btn btn-success btn-like capitalize" (click)='onLikePost()' [ngClass]="{'liked': postLiked}">j'aime</button>
      <button type="submit" class="btn btn-primary btn-like capitalize" (click)='onSharePost()'>partager</button>
      <button type="submit" class="btn btn-info btn-like capitalize" (click)="onFocusInput()">commenter</button>
    </div>
    <hr>
    <app-comments
    [post]="post"
    [comments]="post.comments">
    </app-comments>
  </div>
</div>
