<div class="post-wrapper">
  <div class="post">
    <div class="post-edition dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
      <ul class="dropdown-menu pointer">
        <li><a *ngIf="ownPost" (click)="onEditPost()">Edit</a></li>
        <li><a>Hide</a></li>
        <li><a *ngIf="ownPost" (click)="onDeletePost()">Delete</a></li>
      </ul>
    </div>
    <div class="post-header">
      <div class="container-fluid">
        <div class="row">
          <div class="post-header-img pd-sides pull-left">
              <img class="user-picture round w-h-50" src="{{ post?.user.picture }}" alt="">
          </div>
          <div class="post-header-headline pd-sides pull-left">
            <div class="post-header-txt">
              <h3>
                <span class="user-name capitalize"><a routerLink="/{{ post?.user.username }}">{{ post?.user.firstname }} {{ post?.user.lastname }}</a></span>
                <span *ngIf='post?.owner'> shared
                  <span *ngIf='post?.user_id !== post?.post_owner_id'><a class="clr-blue" routerLink="/{{ post?.owner.username }}">{{ post?.owner.firstname }}</a>'s</span>
                  <span *ngIf='post?.user_id === post?.post_owner_id'>his</span> post
                </span>
              </h3>
            </div>
            <div class="post-date">
              <span>{{ post?.created_at | date : 'mediumDate'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-body" *ngIf="!editMode">
      <div class="post-content">
        <p>{{ post?.content }}</p>
      </div>
      <div class="post-img">
        <img src="{{ post?.image }}" alt="">
      </div>
    </div>
    <div class="post-edit" *ngIf="editMode">
      <form [formGroup]="editPostForm">
        <textarea formControlName="content" id="" cols="30" rows="10" class="form-control new-content"></textarea>
        <div class="pull-right">
          <button type="submit" class="btn btn-update btn-cancel btn-default" (click)="onCancel()">Annuler</button>
          <button type="submit" class="btn btn-update btn-share btn-primary" (click)="onUpdatePost()">Partager</button>
        </div>
      </form>
    </div>
    <div class="interactions-statistics clearfix col-md-12">
      <div class="likes-count pull-left"><i class="far fa-thumbs-up"></i> {{ post?.likers.length }}</div>
      <div class="comments-count pull-right"><i class="far fa-comment-alt"></i> {{ commentsCount }}</div>
    </div>
    <hr class="center-line"/>
    <div class="interactions col-md-12">
      <button type="submit" class="btn btn-success btn-action capitalize" (click)='onLikePost()' [ngClass]="{'liked': postLiked}">j'aime</button>
      <span>·</span>
      <button type="submit" class="btn btn-primary btn-action capitalize" (click)='onSharePost()'>partager</button>
      <span>·</span>
      <button type="submit" class="btn btn-info btn-action capitalize" (click)="onFocusInput()">commenter</button>
    </div>
    <hr class="center-line"/>
    <app-comments
    [post]="post">
    </app-comments>
  </div>
</div>
