<div class="wrapper">
  <div class="iq-comingsoon pt-5">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-8 text-center">
          <div class="iq-comingsoon-info">
            <a href="#">
              <img src="{{ environment.clientUrl }}/assets/images/logo-circle.png" class="img-fluid w-25" alt="">
            </a>
            <h2 class="mt-4 mb-1">Stay tunned, we're launching very soon</h2>
            <p>We are working very hard to give you the best experience possible!</p>
            <ul class="countdown" data-date="Feb 02 2022 20:20:22">
              <li><span data-days>{{ timeLeft.days }}</span>Days</li>
              <li><span data-hours>{{ timeLeft.hours }}</span>Hours</li>
              <li><span data-minutes>{{ timeLeft.minutes }}</span>Minutes</li>
              <li><span data-seconds>{{ timeLeft.seconds }}</span>Seconds</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
