<div class="tab-pane fade active show" id="friends" role="tabpanel">
  <div class="iq-card">
    <div class="iq-card-body">
      <h2>Pages</h2>
      <div class="friend-list-tab list-tab mt-2">
        <ul
          class="nav nav-pills d-flex align-items-center justify-content-left friend-list-items p-0 mb-2">
          <li>
            <a class="nav-link pointer active" data-toggle="pill" (click)="getPages('pages')">Yours</a>
          </li>
          <li>
            <a class="nav-link pointer" data-toggle="pill" (click)="getPages('adminPages')">Managed</a>
          </li>
          <li>
            <a class="nav-link pointer" data-toggle="pill" (click)="getPages('moderatedPages')">Moderated</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="all-friends" role="tabpanel">
            <div class="iq-card-body p-0">
              <div class="row" *ngIf="!emptyList">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let page of pages">
                  <div class="iq-card">
                    <a routerLink="/pages/{{ page.pagename }}">
                      <div class="top-bg-image">
                        <img src="{{ page.cover }}" class="img-fluid w-100" alt="group-bg">
                      </div>
                    </a>
                    <div class="iq-card-body text-center">
                      <a routerLink="/pages/{{ page.pagename }}">
                        <div class="group-icon">
                          <img src="{{ page.image }}" alt="profile-img" class="rounded-circle img-fluid avatar-80">
                        </div>
                        <div class="group-info px-2">
                          <h4 class="mb-0">{{ page.name }}</h4>
                          <p class="mb-2">{{ page.pagename }}</p>
                        </div>
                      </a>
                      <button type="submit" class="btn bgclr-grintaaa text-white d-block w-100">Like</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="emptyList">
                <div class="col-12">
                  <div class="text-center list-empty m-0">
                    <p class="">Pas de page à afficher</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--          <app-spinner *ngIf="loading"></app-spinner>-->
        </div>
      </div>
    </div>
  </div>
</div>
