<div class="container-fluid">
  <div class="row post-comment-action">
    <div class="col-md-12 col-xs-12">
      <form [formGroup]="CommentForm" class="relative">
        <input formControlName="content" type="text" id="comment-{{ post.id }}"
        class="form-control bg-gray no-border-shadow comment" placeholder="Ecrire un commentaire..." required>
        <button class="btn btn-info btn-send-comment" type="submit" (click)="onCreateComment()">Envoyer</button>
      </form>
    </div>
  </div>
  <div class="post-comments">
    <app-comment *ngFor="let comment of post.comments; let i = index"
        [comment]="comment">
    </app-comment>
  </div>
</div>
