<div class="container-fluid">
  <div class="row post-comment-action">
    <div class="col-md-12 col-xs-12">
<!--      <form [formGroup]="CommentForm" class="relative">-->
<!--        <input formControlName="content" type="text" id="comment-{{ post.id }}"-->
<!--        class="form-control bg-gray no-border-shadow comment" placeholder="Ecrire un commentaire..." required>-->
<!--        <button class="btn btn-info btn-send-comment" type="submit" (click)="onCreateComment()"><i class="fas fa-paper-plane"></i></button>-->
<!--      </form>-->
      <form [formGroup]="CommentForm" class="comment-text d-flex align-items-center mt-3">
        <input formControlName="content" type="text" class="form-control rounded" id="comment-{{ post.id }}"
               placeholder="Ecrire un commentaire..." />
        <div class="comment-attagement d-flex">
          <button class="btn btn-success btn-send-comment" type="submit" (click)="onCreateComment()"><i class="fas fa-paper-plane"></i></button>
          <a><i class="ri-link mr-3"></i></a>
          <a><i class="ri-user-smile-line mr-3"></i></a>
          <a><i class="ri-camera-line mr-3"></i></a>
        </div>
      </form>
    </div>
  </div>
  <div class="post-comments">
    <app-comment *ngFor="let comment of post.comments; let i = index"
        [comment]="comment">
    </app-comment>
  </div>
</div>
