<!-- Sidebar  -->
<div class="iq-sidebar">
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="iq-waves-effect" routerLink="/search"><i class="las la-columns"></i><span>All</span></a>
        </li>
        <li routerLinkActive="active">
          <a class="iq-waves-effect" routerLink="/search/people"><i class="ri-user-line"></i><span>People</span></a>
        </li>
        <li routerLinkActive="active">
          <a class="iq-waves-effect" routerLink="/search/posts"><i class="ri-article-line"></i><span>Posts</span></a>
        </li>
        <li routerLinkActive="active">
          <a class="iq-waves-effect" routerLink="/search/events"><i class="ri-calendar-event-line"></i><span>Events</span></a>
        </li>
      </ul>
    </nav>
    <div class="p-3"></div>
  </div>
</div>
<!-- TOP Nav Bar -->
