.custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
  color: #fff;
  background-color: var(--grintaaa);
  border-color: var(--grintaaa);
}
