<div class="wrapper">
  <div class="container p-0">
    <div class="row no-gutters">
      <div class="col-sm-12 text-center">
        <div class="iq-error position-relative mt-5 h-auto overflow-auto">
          <img src="/assets/plugins/socialV/images/error/01.png" class="img-fluid iq-error-img" alt="">
          <h1 class="text-in-box">500</h1>
          <h2 class="mb-0">Oops! This Page is Not Working.</h2>
          <p>The requested is Internal Server Error.</p>
          <a class="font-size-20 btn btn-primary bgclr-grintaaa bgclr-grintaaa-hover mt-3" routerLink="/home"><i class="ri-home-4-line"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
