<!-- Sidebar  -->
<div class="iq-sidebar">
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li routerLinkActive="active">
          <a routerLink="/home" class="iq-waves-effect"><i class="las la-newspaper"></i><span>Newsfeed</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/{{ user?.username }}" class="iq-waves-effect"><i class="las la-user"></i><span>Profile</span></a>
        </li>
<!--        <li routerLinkActive="active">-->
<!--          <a routerLink="/{{ user?.username }}/friends" class="iq-waves-effect"><i class="las la-user-friends"></i><span>Friend Lists</span></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a  class="iq-waves-effect"><i class="las la-users"></i><span>Group</span></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a  class="iq-waves-effect"><i class="las la-image"></i><span>Profile Image</span></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a  class="iq-waves-effect"><i class="las la-video"></i><span>Profile Video</span></a>-->
<!--        </li>-->
        <li routerLinkActive="active">
          <a routerLink="/events" class="iq-waves-effect"><i class="las la-calendar"></i><span>Events</span></a>
        </li>
<!--        <li>-->
<!--          <a  class="iq-waves-effect"><i class="las la-bell"></i><span>Notification</span></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a routerLink="/{{ user?.username }}/friends/requests" class="iq-waves-effect"><i class="las la-anchor"></i><span>Friend Request</span></a>-->
<!--        </li>-->
        <li routerLinkActive="active">
          <a routerLink="/messages" class="iq-waves-effect"><i class="lab la-rocketchat"></i><span>Messages</span></a>
        </li>
<!--        <li>-->
<!--          <a  class="iq-waves-effect"><i class="las la-calendar"></i><span>Calendar</span></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a  class="iq-waves-effect"><i class="las la-birthday-cake"></i><span>Birthday</span></a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a  class="iq-waves-effect"><i class="ri-snowy-line"></i><span>Weather</span></a>-->
<!--        </li>-->
      </ul>
    </nav>
    <div class="p-3"></div>
  </div>
</div>
<!-- TOP Nav Bar -->
