<div class="tab-pane fade active show" id="manage-contact" role="tabpanel">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="card-title">Manage Contact</h4>
      </div>
    </div>
    <div class="iq-card-body">
      <form [formGroup]="editUserForm" (ngSubmit)="onEdit()">
        <div class="form-group">
          <label for="cno">Contact Number:</label>
          <input type="text" class="form-control" id="cno" formControlName="phone_number">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button type="reset" class="btn iq-bg-danger">Cancle</button>
      </form>
    </div>
  </div>
</div>
