
/******************** Classes *****************/

.bgclr-grintaaa, .bgclr-grintaaa-hover:hover {
  background-color: var(--grintaaa) !important;
  border-color: var(--grintaaa) !important;
}
.clr-grintaaa, .clr-grintaaa-hover:hover {
  color: var(--grintaaa) !important;
}

.bgclr-white {
  background-color: #fff !important;
  border-color: #fff !important;
}
.clr-white {
  color: #fff !important;
}


.grintaaa-brd {
  border: 1px solid var(--grintaaa);
}

.grintaaa-brd-left {
  border: 1px solid var(--grintaaa);
  border-left: none;
}

.ov-hidden {
  overflow: hidden;
}

.center-line {
  width: 90%;
  margin: 10px auto;
}

.clearfix:before {
  display: table;
  content: " ";
}
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.border-grey {
  border: 1px solid #b8b8b8;
}

.capitalize {
  text-transform: capitalize;
}

.capitalize-first-letter:first-letter {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.user-picture {
  width: 50px;
}

.clr-blue {
  color: #337ab7;
}

.bg-gray {
  background-color: #F2F3F5;
}

.no-border {
  border: none;
}

.no-shadow {
  box-shadow: none;
}

.no-border-shadow, .no-border-shadow:focus {
  border-color: var(--grintaaa) !important;
  box-shadow: none;
}
.img-fit {
  width: 100%;
}

.w-h-50 {
  width: 50px;
  height: 50px;
}

.w-h-30 {
  width: 30px;
  height: 30px;
}

.mg-sides {
  margin-right: 10px;
  margin-left: 10px;
}

.round {
  border-radius: 50%;
}

.fz-tiny {
  font-size: .5rem;
}

.pd-10 {
  padding: 10px;
}

.pd-sides {
  padding-left: 10px;
  padding-right: 10px;
}

.pd-sides-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.liked, .liked:hover, .liked:focus {
  color: var(--grintaaa)!important;
  text-decoration: underline;
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
}

.card {
  text-align: center;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  /*height: 350px;*/
  overflow: hidden;
}

.card a, .card a:hover {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.card-media {
  width: 100%;
}

.card-body {
  padding: 10px;
}

.card-text {
  text-align: justify;
}

.card-wrapper {
  margin-bottom: 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.comment-reply-form {
  margin-top: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.w-100 {
  width: 100%;
}

.h-300 {
  height: 300px;
}

.h-200 {
  height: 200px;
}

.h-400 {
  height: 400px;
}

.btn-send-comment {
  position: relative;
  /*top: -1px;*/
  right: -3px;
  background-color: var(--grintaaa);
  border-color: var(--grintaaa);
  padding: 5px 10px;
}
.modal-bg {
  opacity: .7;
  background-color: #474747;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 901;
}

.center-img .centered-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.overflow-y-scroll {
  overflow-y: scroll;
}


.justify-content-evenly {
  justify-content: space-evenly!important
}

@media (max-width:576px) {
  .w-sm-25 {
    width: 25%!important
  }

  .w-sm-50 {
    width: 50%!important
  }

  .w-sm-75 {
    width: 75%!important
  }

  .w-sm-100 {
    width: 100%!important
  }

  .h-sm-25 {
    height: 25%!important
  }

  .h-sm-50 {
    height: 50%!important
  }

  .h-sm-75 {
    height: 75%!important
  }

  .h-sm-100 {
    height: 100%!important
  }

}

@media (min-width:768px) {
  .w-md-25 {
    width: 25%!important
  }

  .w-md-50 {
    width: 50%!important
  }

  .w-md-75 {
    width: 75%!important
  }

  .w-md-100 {
    width: 100%!important
  }

  .h-md-25 {
    height: 25%!important
  }

  .h-md-50 {
    height: 50%!important
  }

  .h-md-75 {
    height: 75%!important
  }

  .h-md-100 {
    height: 100%!important
  }

  .h-md-300 {
    height: 300px;
  }
}

@media (min-width:992px) {
  .w-lg-25 {
    width: 25%!important
  }

  .w-lg-50 {
    width: 50%!important
  }

  .w-lg-75 {
    width: 75%!important
  }

  .w-lg-100 {
    width: 100%!important
  }

  .h-lg-25 {
    height: 25%!important
  }

  .h-lg-50 {
    height: 50%!important
  }

  .h-lg-75 {
    height: 75%!important
  }

  .h-lg-100 {
    height: 100%!important
  }
}

@media (min-width:1200px) {
  .w-xl-25 {
    width: 25%!important
  }

  .w-xl-50 {
    width: 50%!important
  }

  .w-xl-75 {
    width: 75%!important
  }

  .w-xl-100 {
    width: 100%!important
  }

  .h-xl-25 {
    height: 25%!important
  }

  .h-xl-50 {
    height: 50%!important
  }

  .h-xl-75 {
    height: 75%!important
  }

  .h-xl-100 {
    height: 100%!important
  }
}

.font-weight-600 {
  font-weight: 600!important;
}
