.iq-top-navbar {
  /*background-color: #81D400!important;*/
}

a, .navbar-list li > a {
  color: #81D400;
}

div#lottie-beil svg path, div#lottie-mail svg path, div#lottie-fullscreen svg path {
  stroke: #81D400;
}

.right-sidebar-toggle.bg-primary {
  background-color: #81D400 !important;
}

.iq-bg-primary {
  color: #81D400 !important;
}

.text-primary {
  color: #81D400 !important;;
}

/*.right-sidebar-mini {*/
/*  width: 300px;*/
/*  transform: translateX(calc(-80% + -2em));*/
/*}*/

/*.right-sidebar {*/
/*  transform: translateX(calc(-180% + -2em));*/
/*  !*transform: translateX(0px);*!*/

/*}*/
/*.right-sidebar-panel {*/
/*  height: 90vh;*/
/*  overflow-x: hidden;*/
/*}*/

.search-friend {
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index: 999;
}
