.sign-in-page {
  /*background-color: var(--grintaaa) !important;*/
  background-image: linear-gradient(135deg, var(--grintaaa) 0%, #5a9400 100%) !important;
}

.iq-top-navbar {
  /*background-color: var(--grintaaa)!important;*/
}

a, .navbar-list li > a {
  color: var(--grintaaa);
}
ul.header-nav li a {
  color: var(--grintaaa);
}
.iq-search-bar {
  position: relative;
}
div#lottie-beil svg path, div#lottie-mail svg path, div#lottie-fullscreen svg path {
  stroke: var(--grintaaa);
}

.right-sidebar-toggle.bg-primary {
  background-color: var(--grintaaa) !important;
}

.media-support-user-img img {
  height: 40px;
  width: 40px;
}

.iq-bg-primary {
  color: var(--grintaaa) !important;
}

.text-primary {
  color: var(--grintaaa) !important;;
}

/*.right-sidebar-mini {*/
/*  width: 300px;*/
/*  transform: translateX(calc(-80% + -2em));*/
/*}*/

/*.right-sidebar {*/
/*  transform: translateX(calc(-180% + -2em));*/
/*  !*transform: translateX(0px);*!*/

/*}*/
.right-sidebar-panel {
  height: 90vh;
  overflow-x: hidden;
}

.search-friend {
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index: 999;
}

.iq-sidebar-menu .iq-menu li.active > a,
.iq-sidebar-menu .iq-menu li a:hover {
  color: var(--grintaaa);
}

#sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--grintaaa);
}

.h-300 {
  height: 300px;
}

.page-title {
  font-size: 1.5rem;
}
.profile-header .user-detail {
  z-index: 1000;
}
ul.header-nav {
  z-index: 1010;
}

.nav-pills.profile-feed-items li a.active {
  background-color: var(--grintaaa);
}

.nav-pills .nav-link:hover {
  color: var(--grintaaa);
}

.like-block span:hover {
  color: var(--grintaaa);
}

#top-tab-list li.done a {
  background-color: var(--grintaaa);
  color: #fff;
}
#top-tab-list li.done i {
  background-color: #fff;
  color: var(--grintaaa);
}

#top-tab-list li#confirm.active a {
  /*background-color: var(--iq-primary);*/
}

.iq-profile-avatar:before {
  height: 12px;
  width: 12px;
}

.chat-message {
  background-color: var(--grintaaa);
  box-shadow: 0 2px 4px 0 var(--grintaaa);
}

.scroller::-webkit-scrollbar-thumb {
  background-color: var(--grintaaa);
}

@media (max-width: 992px) {
  .iq-top-navbar .navbar-toggler {
    color: var(--grintaaa) !important;
  }
}
