<div class="modal modal-event-invitations fade d-block show" id="eventInvitationsModal" tabindex="-1" role="dialog"
     aria-labelledby="eventInvitationsModalTitle" aria-hidden="true" #modalWrapper>
  <div class="modal-dialog modal-dialog-scrollable" role="document" #modal>
    <div class="modal-content">
      <div class="modal-header justify-content-evenly">
        <h5 class="modal-title text-center" id="eventInvitationsModalTitle">Invite</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal()">
          <i class="icon dripicons-exit"></i>
        </button>
      </div>
      <div class="modal-body overflow-hidden">
        <div class="row">
          <div class="col-12">
            <div class="iq-search-bar p-3">
              <div class="searchbox">
                <input type="text" class="form-control bg-gray no-border-shadow search search-input" placeholder="Rechercher..." (input)="onSearch($event.target.value)">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="relations-list-wrapper" *ngIf="!getAllData"
                 infinite-scroll
                 [infiniteScrollDistance]="1"
                 [infiniteScrollThrottle]="300"
                 [scrollWindow]="false"
                 (scrolled)="onLoadMore()"
            >
              <div class="relations-list pr-3">
                <div class="user-item-wrapper pointer" *ngFor="let user of relations" (click)="onToggleChooseUser(user)">
                  <div class="d-flex align-items-center">
                    <div class="user-item-img-wrapper">
                      <div class="user-item-img-container">
                        <img src="{{ user?.picture }}" class="user-item-img"/>
                      </div>
                    </div>
                    <div class="user-item-info">
                      <span>{{ user?.fullName }}</span>
                    </div>
                    <div class="user-item-toggle custom-control custom-radio custom-control-inline">
                      <input type="checkbox" id="{{ user?.username }}" name="{{ user?.username }}" [checked]="user?.chosen"
                             value="{{ user?.uuid }}" class="custom-control-input" disabled>
                      <label class="custom-control-label pointer" for="{{ user?.username }}"></label>
                    </div>
                  </div>
                </div>
                <app-spinner *ngIf="loadMore"></app-spinner>
              </div>
            </div>
            <div class="relations-list" *ngIf="!loadMore && getAllData && queryPage == 1">
              <div class="text-center list-empty m-0">
                <p class="">Pas de contacts à afficher</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="onCloseModal()">Cancel</button>
        <button type="button" class="btn btn-primary bgclr-grintaaa" (click)="onSend()">Send Invites</button>
      </div>
    </div>
  </div>
</div>
