.pages-wrapper {
  padding: 10px 0;
}

.header {
  margin-bottom: 20px;
}

.liked-page-block {
  width: 49%;
  margin-bottom: 10px;
  float: left;
  border: 1px solid #b8b8b8;
  background-color: #fff;
}
.liked-page-block:nth-child(even) {
  margin-left: 2%;
}

.liked-page-image {
  padding: 0;
}
.liked-page-image img {
  height: 100px;
  width: 100px;
}

.liked-page-name {
  height: 100px;
  padding-top: 40px;
}


@media (max-width: 768px) {
  .liked-page-block {
    margin-left: 0!important;
    width: 100%;
  }
}
