
/******************** Tags *****************/

* {
  outline: none!important;
}

body {
  margin: 0;
  background-color: #F2F3F5;
}

hr {
  margin: 10px 0;
}
::-webkit-scrollbar {
  width: 1.2rem;
}
::-webkit-scrollbar-thumb {
  background-color: #81D400;
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-track {
  background-color: #fafafa;
}
::selection {
  background-color: #81D400;
  color: #fafafa;
}




/******************** Classes *****************/

.grintaaa-bg, .grintaaa-bg:hover {
  background-color: #81D400;
}

.grintaaa-clr, .grintaaa-clr:hover {
  color: #81D400;
}

.grintaaa-brd {
  border: 1px solid #81D400;
}

.grintaaa-brd-left {
  border: 1px solid #81D400;
  border-left: none;
}

.clearfix:before {
  display: table;
  content: " ";
}
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.border-grey {
  border: 1px solid #b8b8b8;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.user-picture {
  width: 50px;
}

.clr-blue {
  color: #337ab7;
}

.bg-gray {
  background-color: #F2F3F5;
}

.no-border {
  border: none;
}

.no-shadow {
  box-shadow: none;
}

.no-border-shadow, .no-border-shadow:focus {
  border: none;
  box-shadow: none;
}
.img-fit {
  width: 100%;
}

.w-h-50 {
  width: 50px;
  height: 50px;
}

.mg-sides {
  margin-right: 10px;
  margin-left: 10px;
}

.round {
  border-radius: 50%;
}

.fz-tiny {
  font-size: .5rem;
}

.pd-10 {
  padding: 10px;
}

.pd-sides {
  padding-left: 10px;
  padding-right: 10px;
}

.pd-sides-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.liked, .liked:hover, .liked:focus {
  color: #81D400!important;
  text-decoration: underline;
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
}

.card {
  text-align: center;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  /*height: 350px;*/
  overflow: hidden;
}

.card a, .card a:hover {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.card-media {
  width: 100%;
}

.card-body {
  padding: 10px;
}

.card-text {
  text-align: justify;
}

.card-wrapper {
  margin-bottom: 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.comment-reply-form {
  margin-top: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.w-100 {
  width: 100%;
}

.btn-send-comment {
  position: absolute;
  top: 2px;
  right: 3px;
  padding: 4px 10px;
}
