body {
  background-color: #eee;
}

hr {
  margin: 10px 0;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}
.center {
  text-align: center;
}
.user-picture {
  width: 50px;
}

.clr-blue {
  color: #337ab7;
}

.bg-gray {
  background-color: #eee;
}

.no-border {
  border: none;
}

.no-shadow {
  box-shadow: none;
}

.no-border-shadow, .no-border-shadow:focus {
  border: none;
  box-shadow: none;
}
.img-fit {
  width: 100%;
}

.w-h-50 {
  width: 50px;
  height: 50px;
}

.mg-sides {
  margin-right: 10px;
  margin-left: 10px;
}

.round {
  border-radius: 50%;
}

.fz-tiny {
  font-size: .5rem;
}

.pd-sides {
  padding-left: 10px;
  padding-right: 10px;
}
.pd-sides-5 {
  padding-left: 5px;
  padding-right: 5px;
}
