<div class="tab-pane fade active show" id="about" role="tabpanel">
  <div class="iq-card">
    <div class="iq-card-body">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills basic-info-items list-inline d-block p-0 m-0">
            <li>
              <a class="nav-link active" data-toggle="pill" href="#basicinfo">Contact and Basic Info</a>
            </li>
            <li>
              <a class="nav-link" data-toggle="pill" href="#details">Details About You</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9 pl-4">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="basicinfo" role="tabpanel">
              <h4>Contact Information</h4>
              <hr>
              <div class="row">
                <div class="col-3">
                  <h6>Email</h6>
                </div>
                <div class="col-9">
                  <p class="mb-0">{{ profile.email }}</p>
                </div>
                <div class="col-3">
                  <h6>Mobile</h6>
                </div>
                <div class="col-9">
                  <p class="mb-0">{{ profile.phoneNumber }}</p>
                </div>
                <div class="col-3">
                  <h6>Address</h6>
                </div>
                <div class="col-9">
                  <p class="mb-0">{{ profile.address }}</p>
                </div>
              </div>
              <h4 class="mt-3">Basic Information</h4>
              <hr>
              <div class="row">
                <div class="col-3">
                  <h6>Birth Date</h6>
                </div>
                <div class="col-9">
                  <p class="mb-0">{{ profile.birth_date | date:'dd MMMM' }}</p>
                </div>
                <div class="col-3">
                  <h6>Birth Year</h6>
                </div>
                <div class="col-9">
                  <p class="mb-0">{{ profile.birth_date | date:'yyyy' }}</p>
                </div>
                <div class="col-3">
                  <h6>Gender</h6>
                </div>
                <div class="col-9">
                  <p class="mb-0 capitalize-first-letter">{{ profile.gender }}</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="details" role="tabpanel">
              <h4 class="mb-3">About You</h4>
              <p>{{ profile.about }}</p>
              <h4 class="mt-3 mb-3">Favorite Quotes</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
