<div class="wrapper">

  <app-header></app-header>

  <div id="content-page" class="content-page">
    <div class="container">
      <div class="options-wrapper">
        <div class="options-container">
          <div class="options d-flex">
            <div class="search-event event-option">
              <a routerLink="/organize/event">
                <div class="option-wrapper">
                  <div class="option-icon">
                    <i class="icon dripicons-search"></i>
                  </div>
                  <div class="option-body">
                    <span class="capitalize">Search event</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="create-event event-option">
              <a routerLink="/create/event">
                <div class="option-wrapper">
                  <div class="option-icon">
                    <i class="icon dripicons-plus"></i>
                  </div>
                  <div class="option-body">
                    <span class="capitalize">Create event</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <app-feedback></app-feedback>
  </div>
</div>
