<div class="wrapper">

  <app-header></app-header>

  <div id="content-page" class="content-page">
    <div class="container">
      <div class="options-wrapper">
        <div class="options-container">
          <div class="options d-flex">
            <div class="search-event event-option">
              <a routerLink="/search/events">
                <div class="option-wrapper">
                  <div class="option-icon">
                    <i class="icon dripicons-search"></i>
                  </div>
                  <div class="option-body">
                    <div class="header">
                      <span class="capitalize">Chercher un évènement</span>
                    </div>
                    <div class="description">
                      <span>Peut être que vos amis ont déjà organisé un évènement proche de vous.</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="create-event event-option">
              <a routerLink="/create/event">
                <div class="option-wrapper">
                  <div class="option-icon">
                    <i class="icon dripicons-plus"></i>
                  </div>
                  <div class="option-body">
                    <div class="header">
                      <span class="capitalize">Organiser un évènement</span>
                    </div>
                    <div class="description">
                      <span>Réunissez-vous avec vos amis et amusez-vous</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </div>
</div>
